*{
    margin: O;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Rockwell Extra Bold;
    color:#2b352d;
}
    
    body::after {
    content: "";
    background: url(https://img.freepik.com/vecteurs-libre/fond-decoratif-feuilles-tropicales-vertes_52683-18995.jpg?size=626&ext=jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}   


.grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 0,2fr 400px 30px;
    width:1500px;
    margin:auto;
    grid-row-gap: 40px;;
    grid-template-areas: 
    "photo photo profile"
    "education experiences skills"
    "contact mail phone";
    
}



.photo{
    grid-area:photo;
    background-color:#AFC8AB;   
   
}

.name{
    margin-left: 200px;
    margin-top: -170px;
}


.profile{
    grid-area:profile;
    background-color:#AFC8AB;
    border-radius: 8px;
    justify-self: stretch;
    padding-top: 60px;
    font-size: 20px;
    
    
}

#motivation{
    padding-left: 85px;
}




.education{
    grid-area: education;
    background-color: #DEBBAB;
    border-radius: 8px;
    height:500px;
    line-height: 2em;
    padding: 20px;
    margin: 10px;
    
}


.experiences{    
    grid-area: experiences;
    background-color: #DEBBAB;
    border-radius: 8px;
    line-height: 2em;
    padding: 20px;
    margin: 10px;
}


.skills{
    grid-area: skills;
    background-color: #DEBBAB;
    border-radius: 8px;
    line-height: 2em;
    padding: 20px;
    margin: 10px;

}

.contact{
    grid-area: contact;
    background-color:#AFC8AB;
}

.mail{
    grid-area: mail;
    background-color:#AFC8AB;
}

.phone{
    grid-area: phone;
    background-color:#AFC8AB;
}


img{
    width:150px;
    border-radius: 8px;
}

a{
    color:#2b352d;
}

li{
    list-style-type: none;
}




/*responsive tablet*/

@media only screen and (max-width: 1024px){
    
    body{
        padding: 5px;
        margin: 0px;
        background-image: cover;
    }
    
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(7 1fr);
        grid-gap:0;
        grid-template-areas:
        "photo"
        "profile"
        "education"
        "experiences"
        "skills"
        "contact"
        "mail"
        "phone"; 
    } 
    }


/* responsive phone*/

@media only screen and (max-width: 550px){
    
    body{
        padding: 5px;
        margin: 0px;
        background-image: cover;
    }
    .grid{
        grid-template-columns: 450px;
        grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.5fr 0.1fr 0.1fr 0.1fr;
        grid-gap:0;
        grid-template-areas:
        "photo"
        "profile"
        "education"
        "experiences"
        "skills"
        "contact"
        "mail"
        "phone";
        border-radius: 8px;       
} 

img{
    max-width: 100%;
    border-radius:30%;
}

.photo{
    width: 450px;
    margin-bottom:-10px;
    padding-left: 5px;
}

.name{
    padding:0px;
    width: 450px;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
}


.profile{
    padding:0px;
    width: 450px;
    margin-left: 0px;
    padding-left: 5px;
}
 .education{  
    width: 450px;
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: -20px;
    
}

.experiences{
    width: 450px;
    margin-left: 0px;
    padding-left: 5px;
    margin-top: -200px;
}

.skills{   
    width: 450px;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 5px;
    margin-top: -80px;
}

.contact{
    width: 450px;
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top:-20px;
}

.mail{
    width: 450px;
    margin-left: 0px;
     margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}
.phone{
    width: 450px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

}

